{% extends "orgmailadmin/base.html" %}
{% block head %}
<style>
#alias-form {
    max-width: 600px;
}
.alias-row {
    display: flex;
    align-items: baseline;
}
.alias-row > label {
    white-space: pre; /* obey trailing space */
}
.alias-row > input {
    flex-grow: 1;
}
#alias-form textarea {
    width: 100%;
}
</style>
{% endblock %}
{% block content %}

<h1>{{ object|yesno:"Edit,Add alias" }} {{ object }}</h1>

<form method="post" id="alias-form">{% csrf_token %}
    {{ form.name.errors }}
    <p class="alias-row"><label for="{{ form.name.id_for_label }}">Alias: </label>
    {{ form.name }}<span class="tail">@{{ domain }}</span></p>
    <p>
    Tip: To create a catch-all use an "*" as alias.
    </p>
    {{ form.recipients.errors }}
    <p><label for="{{ form.recipients.id_for_label }}">To:</label></p>
    <p>{{ form.recipients }}</p>
    <p>One entry per line.</p>
    <input type="submit" value="{{ object|yesno:"Edit,Add" }} alias" />
</form>
{% endblock %}
