{% extends "orgmailadmin/base.html" %}
{% block content %}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Aliases</th>
            <th>Created</th>
            <th>Last modified</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
	{% for domain in object_list %}
        <tr>
            <td><a href="{% url 'orgmailadmin:alias_list' domain_name=domain.name %}">{{ domain }}</a></td>
            <td>{{ domain.description }}</td>
            <td>{{ domain.alias_count }}</td>
            <td>{{ domain.created_time }}</td>
            <td>{{ domain.modified_time }}</td>
            <td><a href="{% url 'orgmailadmin:domain_update' domain_name=domain.name %}">Edit</a></td>
        </tr>
	{% endfor %}
    </tbody>
</table>

<form method="get">
    <p>Test alias resolution: <input name="q" /><input type="submit" value="Look up" /></p>
    <p>{{ alias_resolution }}</p>
</form>

{% if user.is_superuser %}
<p>For Django superusers:</p>
<ul>
    <li><a href="{% url 'orgmailadmin:import' %}">Import from postfixadmin</a></li>
</ul>
{% endif %}

{% endblock %}
